**/__pycache__/
analytics
logs
cookies
settings.json
pokemon.json
statistics.txt
need.json
bot.py
getinventory.py
inventory.json
settings_examplety.json
twitch.rar
winnings.txt
sprites
scrape_pcg_images.py
poke_tiers.txt
discord_test.py
